# Lists

In [10]:
courses = ['History','Maths','Physics','ComputerScience']

print(courses)
print(len(courses)) # Length of list
print(courses[0]) # first value of list
print(courses[-1]) # last value of list 

#print(courses[10]) # if there is no index then it will throw IndexError

print(courses[0:2]) # similar to string but here its value of index
print(courses[:2]) # upto 1
print(courses[3:]) # from 3 to last

['History', 'Maths', 'Physics', 'ComputerScience']
4
History
ComputerScience
['History', 'Maths']
['History', 'Maths']
['ComputerScience']

# List Methods

In [26]:
courses = ['History','Maths','Physics','ComputerScience']
courses.append('Data Analytics')
print(courses)

courses.insert(1,'Machine Learning')
print(courses)

# Extend - when we have multiple value to list - it will list without nested list as insert does
courses_2 = ['WebTech','Database']
courses.insert(0,courses_2)
print(courses) # [['WebTech', 'Database'], 'History',....]

courses.append(courses_2) # append does same as the insert nested list
print(courses)

courses_3 = ['Data Science','Dev Ops']
courses.extend(courses_3)
print(courses)

# remove
courses.remove('Maths')
print(courses)

# pop - also returns what value was popped , from last
popped_value = courses.pop()
print(popped_value)
print(courses)

# Reverse
courses.reverse()
print(courses)

['History', 'Maths', 'Physics', 'ComputerScience', 'Data Analytics']
['History', 'Machine Learning', 'Maths', 'Physics', 'ComputerScience', 'Data Analytics']
[['WebTech', 'Database'], 'History', 'Machine Learning', 'Maths', 'Physics', 'ComputerScience', 'Data Analytics']
[['WebTech', 'Database'], 'History', 'Machine Learning', 'Maths', 'Physics', 'ComputerScience', 'Data Analytics', ['WebTech', 'Database']]
[['WebTech', 'Database'], 'History', 'Machine Learning', 'Maths', 'Physics', 'ComputerScience', 'Data Analytics', ['WebTech', 'Database'], 'Data Science', 'Dev Ops']
[['WebTech', 'Database'], 'History', 'Machine Learning', 'Physics', 'ComputerScience', 'Data Analytics', ['WebTech', 'Database'], 'Data Science', 'Dev Ops']
Dev Ops
[['WebTech', 'Database'], 'History', 'Machine Learning', 'Physics', 'ComputerScience', 'Data Analytics', ['WebTech', 'Database'], 'Data Science']
['Data Science', ['WebTech', 'Database'], 'Data Analytics', 'ComputerScience', 'Physics', 'Machine Learning', 'History', ['WebTech', 'Database']]

In [40]:
# sort
courses = ['History','Maths','Physics','ComputerScience']
nums = [1,5,2,4,3]

# reverse the sorted by using reverse after sort or reverse=True
courses.sort(reverse=True)
nums.sort()

print(courses)
print(nums)


# WITHOUT CHANGING ORIGINAL -> we need new list sorted 
sorted_list = sorted(courses)
print(sorted_list)

print(min(nums))
print(max(nums))

print(courses.index('History')) # ans = 2

# print(courses.index('Notinlist')) # ans = value Error

print('NotinList' in courses) #False

['Physics', 'Maths', 'History', 'ComputerScience']
[1, 2, 3, 4, 5]
['ComputerScience', 'History', 'Maths', 'Physics']
1
5
2
False

In [43]:
courses = ['History','Maths','Physics','ComputerScience']
course_str = ' - '.join(courses)
print(course_str)

# convert back to list 
new_list = course_str.split(' - ')
print(new_list)

History - Maths - Physics - ComputerScience
['History', 'Maths', 'Physics', 'ComputerScience']

# Loop through Lists

In [39]:
courses = ['History','Maths','Physics','ComputerScience']

for item in courses:
    print(item)
    
# for the index too

for index,item in enumerate(courses):
    print(f"{index} : {item}")

# Start the index from 1 not from default 0
for index,item in enumerate(courses,start = 1):
    print(f"{index} : {item}")

History
Maths
Physics
ComputerScience
0 : History
1 : Maths
2 : Physics
3 : ComputerScience
1 : History
2 : Maths
3 : Physics
4 : ComputerScience

# Tuples
tuples are immutable

In [50]:
# Mutable list
list_1 = ['History', 'Maths', 'English']
list_2 = list_1

print(list_1)
print(list_2)

list_1[0] = 'Art'
print(list_1)

# tuple is immutable
tuple_1 = ('History','Maths','Science')
tuple_2 = tuple_1

print(tuple_1)
print(tuple_2)

tuple_1[0] = 'ARt' # type error
print(tuple_1)

['History', 'Maths', 'English']
['History', 'Maths', 'English']
['Art', 'Maths', 'English']
('History', 'Maths', 'Science')
('History', 'Maths', 'Science')

TypeError: 'tuple' object does not support item assignment

# Sets

In [53]:
# it only prints non duplicate ones
fields = {'Data science','Machine Learning','Data Analytics', 'Data Analytics'}
print(fields)

print('Math' in fields)

{'Data Analytics', 'Data science', 'Machine Learning'}
False

In [56]:
# Intersection
field_1 = {'Data science','Machine Learning','Data Analytics', 'Data Analytics'}
field_2 = {'Data science','Mahts','Science'}

print(field_1.intersection(field_2 # gives common

print(field_1.difference(field_2)) # gives non common

print(field_1.union(field_2)) # gives all combined no duplicates

{'Data science'}
{'Data Analytics', 'Machine Learning'}
{'Data Analytics', 'Data science', 'Mahts', 'Science', 'Machine Learning'}

# Emptys

In [57]:
# Empty list
empty_list = []
empty_list_1 = list()

# Empty Tuple
empty_tuple = ()
empty_tuple_1 = tuple()

# Empty Sets
empty_sets = {} # this is not right this indicated dictionary
empty_sets_correct = set()